.root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  width: 100%;
  align-items: start;
  justify-items: center;

  @media only screen and (max-width: 768px) {
    & {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 425px) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }
}